doctype html
html(ng-app='MyApp')
	head
		title Janux Authorization
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/normalize.css')
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/bootstrap.css')
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/typography.css')
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/util.css')
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/layout.css')
		link(rel='stylesheet', href='#{cfg.server.static}/#{cfg.dir.css}/responsive.css')

		script(src='#{cfg.server.static}/#{cfg.file.app}')

	body
		.container
			header
				.logo
					img(src='#{cfg.server.static}/img/janux-sage-256.png')
					.branding
						span.janux janux 
						span.people(translate='label.people') 

				login-toolbar

			nav
				ul
					li.first(ui-sref-active='active'): a(ui-sref='dashboard', translate='dashboard.title')
					li(ui-sref-active='active'): a(ui-sref='users', translate='user.title')
					li(ui-sref-active='active'): a(ui-sref='roles', translate='role.title')
					li(ui-sref-active='active'): a(ui-sref='permissions', translate='permission.title')

			section.maincolumn(ui-view)

// vim: set fo=rq wrap:
