.maincolumn

	// Draggable Group list
	.drag-n-drop
		ul(dnd-list='authContextGroups')
			li.auth-context-group(ng-repeat='authContextGroup in authContextGroups',
			dnd-draggable='authContextGroup',
			dnd-moved='authContextGroups.splice($index, 1)',
			dnd-effect-allowed='move')
				.group-element
					table
						tbody
							tr
								td.name {{ authContextGroup.name }}
								td.options
									a(ui-sref='permissions.edit-auth-context-group({authContextGroupCode: authContextGroup.code})')
										img(src='/img/edit.png')
									| &nbsp;&nbsp;
									a(href='#' ng-click='openDeleteAuthContextGroupDialog(authContextGroup)')
										img(src='/img/delete.png')

				// Draggable Authorization Context list
				.drag-n-drop
					ul(dnd-list='authContextGroup.values')
						li.auth-context(ng-repeat='authContext in authContextGroup.values',
						dnd-draggable='authContext',
						dnd-moved='authContextGroup.values.splice($index, 1)',
						dnd-effect-allowed='move')
							.element
								table.context-list
									tbody
										tr
											td.name {{ authContext.name }}
											td.bits
												span(ng-repeat='(authName, authBit) in authContext.bit') &nbsp;&nbsp; {{ authName }}
											td.options
												a(ui-sref='permissions.edit-auth-context({contextGroupCode: authContextGroup.code, contextName: authContext.name})')
													img(src='/img/edit.png')
												| &nbsp;&nbsp;
												a(href='#' ng-click='openDeleteAuthContextDialog(authContextGroup.code, authContext.name)')
													img(src='/img/delete.png')

	.text-left
		a.link.secondary(ui-sref='permissions.create-auth-context')
			img(src='/img/add.png')
			| Add Authorization Context
		p
			a.link.primary(ui-sref='permissions.create-auth-context-group')
				img(src='/img/add.png')
				| Add Display Group