.sd-page-content-wrapper

	// Draggable Group list
	.drag-n-drop
		ul(dnd-list='authContextGroups')
			li.auth-context-group(ng-repeat='authContextGroup in authContextGroups',
			dnd-draggable='authContextGroup',
			dnd-moved='authContextGroups.splice($index, 1)',
			dnd-effect-allowed='move')
				.group-element
					table
						tbody
							tr
								td.name {{ authContextGroup.name }}
								td.options
									a.action-button(ui-sref='permissions.edit-auth-context-group({authContextGroupCode: authContextGroup.code})')
										span.fa.fa-pencil.fa-lg 
									| &nbsp;&nbsp;
									a.action-button(href='#' ng-click='openDeleteAuthContextGroupDialog(authContextGroup)')
										span.fa.fa-trash.fa-lg 

				// Draggable Authorization Context list
				.drag-n-drop
					ul(dnd-list='authContextGroup.values')
						li.auth-context(ng-repeat='authContext in authContextGroup.values',
						dnd-draggable='authContext',
						dnd-moved='authContextGroup.values.splice($index, 1)',
						dnd-effect-allowed='move')
							.element
								table.context-list
									tbody
										tr
											td.name {{ authContext.name }}
											td.bits
												span(ng-repeat='(authName, authBit) in authContext.bit') &nbsp;&nbsp; {{ authName }}
											td.options
												a.action-button(ui-sref='permissions.edit-auth-context({contextGroupCode: authContextGroup.code, contextName: authContext.name})')
													span.fa.fa-pencil.fa-lg 

												| &nbsp;&nbsp;
												a.action-button(href='#' ng-click='openDeleteAuthContextDialog(authContextGroup.code, authContext.name)')
													span.fa.fa-trash.fa-lg 

												| &nbsp;
												a.action-button(ui-sref='permissions.copy-auth-context({copyFromContext: authContext.name})')
													span.fa.fa-files-o.fa-lg 

	.text-left
		a.link.secondary(ui-sref='permissions.create-auth-context')
			span.fa.fa-plus.fa-lg 
			| &nbsp; Add Authorization Context
		p
			a.link.primary(ui-sref='permissions.create-auth-context-group')
				span.fa.fa-plus.fa-lg
				| &nbsp; Add Display Group
footer-Janux