form(name="specialServiceAddForm")
	.container-flex-form
		.staff-form-left
			md-autocomplete(md-no-cache='false',
			md-items="item in staffSearch(lbSearch.staff) | orderBy:'resource.name.last'",
			md-menu-container-class='autocomplete-options-container-wider'
			md-selected-item='lbRow.staff',
			md-search-text='lbSearch.staff',
			md-selected-item-change='staffSelectedItemChange(item)',
			md-item-text='item.resource.name.last+" "+item.resource.name.maternal+ " " +item.resource.name.first+" " + item.resource.name.middle',
			md-min-length='0',
			md-floating-label="{{ 'operations.specialsTimeLog.staff' | translate }}")
				md-item-template
					span(md-highlight-text='lbSearch.staff', md-highlight-flags='^i') {{item.resource.name.last+' '+item.resource.name.maternal + ' '+ item.resource.name.first+' ' + item.resource.name.middle}}

			.element()
				md-autocomplete(md-no-cache='false',
				ng-disabled='timeEntryUpdate!=null',
				md-items='item in opsSearch(lbSearch.operation) | orderBy : ["-start"]',
				md-menu-container-class='autocomplete-options-container-wider'
				md-selected-item='lbRow.operation',
				md-search-text-change='opsSearchTextChange(lbSearch.operation)',
				md-search-text='lbSearch.operation',
				md-item-text='item.name',
				md-min-length='0',
				md-floating-label="{{ 'operations.specialsTimeLog.operation' | translate }}")
					md-item-template
						span(md-highlight-text='lbSearch.operation', md-highlight-flags='^i') {{item.name}}
			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.function' | translate }}
					md-select(ng-model="lbRow.function")
						md-option(value="DRIVER") {{ 'operations.specialsTimeLog.driver' | translate }}
						md-option(value="AGENT") {{ 'operations.specialsTimeLog.agent' | translate }}
						md-option(value="AGENT_ARMED") {{ 'operations.specialsTimeLog.agentArmed' | translate }}
						md-option(value="GREETER") {{ 'operations.specialsTimeLog.greeter' | translate }}
						md-option(value="COORDINATOR") {{ 'operations.specialsTimeLog.coordinator' | translate }}
						md-option(value="TRANSPORT") {{ 'operations.specialsTimeLog.transport' | translate }}

			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.begin' | translate }}
					md-datepicker(ng-model='lbRow.startForm'
					ng-change='calculateDates()')

			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.beginHourWork' | translate }}
					input(mdc-datetime-picker=''
					date='false'
					placeholder='Time'
					id = "beginHourWork"
					time='true'
					show-todays-date=''
					minutes='true'
					format='HH:mm'
					edit-input='true'
					click-outside-to-close='true'
					show-icon='true'
					minute-steps='1'
					ng-model='lbRow.startHourWorkForm'
					ng-model-options="{ debounce: 1000 }"
					type='text',
					lang='{{ lang }}',
					today-text='{{ "label.today" | translate }}',
					ok-text='{{ "label.ok" | translate }}',
					cancel-text='{{ "label.cancel" | translate }}'
					ng-change='calculateDates()')
				md-input-container
					label {{ 'operations.specialsTimeLog.endHourWork' | translate }}
					input(mdc-datetime-picker=''
					id = "endHourWork"
					date='false'
					placeholder='Time'
					time='true'
					min-date='lbRow.startHourWorkForm'
					show-todays-date=''
					minutes='true'
					format='HH:mm'
					edit-input='true'
					click-outside-to-close='true'
					show-icon='true'
					minute-steps='1'
					ng-model='lbRow.endHourWorkForm'
					ng-model-options="{ debounce: 1000 }"
					type='text',
					lang='{{ lang }}',
					today-text='{{ "label.today" | translate }}',
					ok-text='{{ "label.ok" | translate }}',
					cancel-text='{{ "label.cancel" | translate }}'
					ng-change='calculateDates()')
				md-input-container
					| {{ 'operations.specialsTimeLog.hoursWorked' | translate }}:
					strong {{lbRow.differenceTimeWorkForm}}

			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.beginHour' | translate }}
					input(mdc-datetime-picker=''
					date='false'
					placeholder='Time'
					time='true'
					show-todays-date=''
					minutes='true'
					format='HH:mm'
					edit-input='true'
					click-outside-to-close='true'
					show-icon='true'
					minute-steps='1'
					ng-model='lbRow.startHourForm'
					ng-model-options="{ debounce: 1000 }"
					type='text',
					lang='{{ lang }}',
					today-text='{{ "label.today" | translate }}',
					ok-text='{{ "label.ok" | translate }}',
					cancel-text='{{ "label.cancel" | translate }}'
					ng-change='calculateDates()')
				md-input-container
					label {{ 'operations.specialsTimeLog.endHour' | translate }}
					input(mdc-datetime-picker=''
					date='false'
					placeholder='Time'
					time='true'
					show-todays-date=''
					minutes='true'
					min-date='lbRow.startHourForm'
					format='HH:mm'
					edit-input='true'
					click-outside-to-close='true'
					show-icon='true'
					minute-steps='1'
					ng-model='lbRow.endHourForm'
					ng-model-options="{ debounce: 1000 }"
					type='text',
					lang='{{ lang }}',
					today-text='{{ "label.today" | translate }}',
					ok-text='{{ "label.ok" | translate }}',
					cancel-text='{{ "label.cancel" | translate }}'
					ng-change='calculateDates()')
				md-input-container
					| {{ 'operations.specialsTimeLog.hoursBilled' | translate }}:
					strong {{lbRow.differenceTimeForm}}

			// show only to debug
			//.element
			//	md-input-container
			//		div fechas {{lbRow.startWork | date:"short"}}  - {{lbRow.endWork | date:"short"}}
			//		div fechas  {{lbRow.start | date:"short"}}  - {{lbRow.end | date:"short"}}



			.element
				md-autocomplete(md-no-cache='false',
				md-items="item in vehicleSearch(lbSearch.vehicle) | orderBy:'name'",
				md-selected-item='lbRow.vehicle',
				md-search-text='lbSearch.vehicle',
				md-item-text='item.resource.name + " " + item.resource.plateNumber',
				md-min-length='0',fend
				md-floating-label="{{ 'operations.specialsTimeLog.vehicle' | translate }}")
					md-item-template
						p() {{item.resource.name}} #[br] {{ item.resource.plateNumber}}
			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.odometerStart' | translate }}
					input(ng-model='lbRow.odometerStart' type="number" id='odometerStart')
				span(flex)
				md-input-container
					label {{ 'operations.specialsTimeLog.odometerEnd' | translate }}
					input(ng-model='lbRow.odometerEnd' type="number" id='odometerEnd')

			.element
				md-input-container
					label {{ 'operations.specialsTimeLog.fuelStart' | translate }}
					md-select(ng-model='lbRow.fuelStart')
						md-option(value="F") F
						md-option(value="7/8") 7/8
						md-option(value="3/4") 3/4
						md-option(value="5/8") 5/8
						md-option(value="4/8") 1/2
						md-option(value="3/8") 3/8
						md-option(value="2/8") 1/4
						md-option(value="1/8") 1/8
				span(flex)
				md-input-container
					label {{ 'operations.specialsTimeLog.fuelEnd' | translate }}
					md-select(ng-model='lbRow.fuelEnd')
						md-option(value="F") F
						md-option(value="7/8") 7/8
						md-option(value="3/4") 3/4
						md-option(value="5/8") 5/8
						md-option(value="4/8") 1/2
						md-option(value="3/8") 3/8
						md-option(value="2/8") 1/4
						md-option(value="1/8") 1/8



		.staff-form-right
			textarea(name="special-ops-description"
			ng-model="lbRow.location"
			markdown-editor="{'iconlibrary': 'fa', addExtraButtons: false, resize: 'vertical'}"
			on-fullscreen="onFullScreenCallback()"
			on-fullscreen-exit="onFullScreenExitCallback()"
			rows="25")
