md-sidenav.md-sidenav-right.sidebar(md-component-id="specialOpsSideNav" md-whiteframe="4" md-disable-close-events style="")
	md-toolbar(style="background:none;")
		h1.md-toolbar-tools
			button.btn(aria-label="Expand")
				i.fa.fa-expand
			span(flex)
			button.btn(aria-label="New" ng-click="acceptTimeEntry()")
				i.fa.fa-check
			button.btn(aria-label="Close" ng-click="toggleSideNav()")
				i.fa.fa-times
	md-content.panel-form
		form(name="specialServiceAddForm")
			.container-flex-form-panel
				.staff-form-left
					.container-flex-form-panel
						.an-material.nopadding
							md-autocomplete.full-panel(md-no-cache='false',
							md-items="item in staffSearch(lbSearch.staff) | orderBy:'resource.name.last'",
							md-menu-container-class='autocomplete-options-container-wider'
							md-selected-item='form.staff',
							md-search-text='lbSearch.staff',
							md-selected-item-change='staffSelectedItemChange(item)',
							md-item-text='item.resource.name.last+" "+item.resource.name.maternal+ " " +item.resource.name.first+" " + item.resource.name.middle',
							md-min-length='0',
							md-floating-label="{{ 'operations.specialsTimeLog.staff' | translate }}")
								md-item-template
									span(md-highlight-text='lbSearch.staff', md-highlight-flags='^i') {{item.resource.name.last+' '+item.resource.name.maternal + ' '+ item.resource.name.first+' ' + item.resource.name.middle}}

					.container-flex-form-panel
						.an-material.nopadding
							md-autocomplete.full-panel(md-no-cache='false',
							ng-disabled='timeEntryUpdate!=null || operaitionIdInsert!=null',
							md-items='item in opsSearch(lbSearch.operation) | orderBy : ["-start"]',
							md-menu-container-class='autocomplete-options-container-wider'
							md-selected-item='form.operation',
							md-search-text-change='opsSearchTextChange(lbSearch.operation)',
							md-search-text='lbSearch.operation',
							md-item-text='item.name',
							md-min-length='0',
							md-floating-label="{{ 'operations.specialsTimeLog.operation' | translate }}")
								md-item-template
									span(md-highlight-text='lbSearch.operation', md-highlight-flags='^i') {{item.name}}
					.fieldset-flex
						.an-material.nopadding
							md-input-container.full-panel
								label {{ 'operations.specialsTimeLog.function' | translate }}
								md-select(ng-model="form.function")
									md-option(value="DRIVER") {{ 'operations.specialsTimeLog.driver' | translate }}
									md-option(value="AGENT") {{ 'operations.specialsTimeLog.agent' | translate }}
									md-option(value="AGENT_ARMED") {{ 'operations.specialsTimeLog.agentArmed' | translate }}
									md-option(value="GREETER") {{ 'operations.specialsTimeLog.greeter' | translate }}
									md-option(value="COORDINATOR") {{ 'operations.specialsTimeLog.coordinator' | translate }}
									md-option(value="TRANSPORT") {{ 'operations.specialsTimeLog.transport' | translate }}
						div(ng-show='vehicleBtnIsVisible')
							button.btn(aria-label="Vehicle" ng-click="vehiclePanelShowHide()")
								i.fa.fa-car

					.container-flex-form-panel
						.an-material.nopadding
							md-input-container.full-panel
								h4.form-label 
									| {{ 'operations.specialsTimeLog.begin' | translate }}
								md-datepicker(ng-model='form.startForm'
								ng-change='calculateDates()')

					.container-flex-form-panel
						.an-material.nopadding
							.section-pad
								| {{ 'operations.specialsTimeLog.hoursWorked' | translate }}:
								strong {{form.differenceTimeWorkForm}}

					.fieldset-flex
						.an-material.nopadding
							md-input-container.full-panel
								label {{ 'operations.specialsTimeLog.beginHourWork' | translate }}
								input(mdc-datetime-picker=''
								date='false'
								placeholder='Time'
								id = "beginHourWork"
								time='true'
								show-todays-date=''
								minutes='true'
								format='HH:mm'
								edit-input='true'
								click-outside-to-close='true'
								show-icon='true'
								minute-steps='1'
								ng-model='form.startHourWorkForm'
								ng-model-options="{ debounce: 1000 }"
								type='text',
								lang='{{ lang }}',
								today-text='{{ "label.today" | translate }}',
								ok-text='{{ "label.ok" | translate }}',
								cancel-text='{{ "label.cancel" | translate }}'
								ng-change='calculateDates()')

						.an-material.nopadding
							md-input-container.full-panel
								label {{ 'operations.specialsTimeLog.endHourWork' | translate }}
								input(mdc-datetime-picker=''
								id = "endHourWork"
								date='false'
								placeholder='Time'
								time='true'
								min-date='form.startHourWorkForm'
								show-todays-date=''
								minutes='true'
								format='HH:mm'
								edit-input='true'
								click-outside-to-close='true'
								show-icon='true'
								minute-steps='1'
								ng-model='form.endHourWorkForm'
								ng-model-options="{ debounce: 1000 }"
								type='text',
								lang='{{ lang }}',
								today-text='{{ "label.today" | translate }}',
								ok-text='{{ "label.ok" | translate }}',
								cancel-text='{{ "label.cancel" | translate }}'
								ng-change='calculateDates()')

					.container-flex-form-panel
						.an-material.nopadding
							.section-pad
								| {{ 'operations.specialsTimeLog.hoursBilled' | translate }}:
								strong {{form.differenceTimeForm}}

					.fieldset-flex
						.an-material.nopadding
							md-input-container.full-panel
								label {{ 'operations.specialsTimeLog.beginHour' | translate }}
								input(mdc-datetime-picker=''
								date='false'
								placeholder='Time'
								time='true'
								show-todays-date=''
								minutes='true'
								format='HH:mm'
								edit-input='true'
								click-outside-to-close='true'
								show-icon='true'
								minute-steps='1'
								ng-model='form.startHourForm'
								ng-model-options="{ debounce: 1000 }"
								type='text',
								lang='{{ lang }}',
								today-text='{{ "label.today" | translate }}',
								ok-text='{{ "label.ok" | translate }}',
								cancel-text='{{ "label.cancel" | translate }}'
								ng-change='calculateDates()')

						.an-material.nopadding
							md-input-container.full-panel
								label {{ 'operations.specialsTimeLog.endHour' | translate }}
								input(mdc-datetime-picker=''
								date='false'
								placeholder='Time'
								time='true'
								show-todays-date=''
								minutes='true'
								min-date='form.startHourForm'
								format='HH:mm'
								edit-input='true'
								click-outside-to-close='true'
								show-icon='true'
								minute-steps='1'
								ng-model='form.endHourForm'
								ng-model-options="{ debounce: 1000 }"
								type='text',
								lang='{{ lang }}',
								today-text='{{ "label.today" | translate }}',
								ok-text='{{ "label.ok" | translate }}',
								cancel-text='{{ "label.cancel" | translate }}'
								ng-change='calculateDates()')

					// show only to debug
					//.element
					//	md-input-container
					//		div fechas {{form.startWork | date:"short"}}  - {{form.endWork | date:"short"}}
					//		div fechas  {{form.start | date:"short"}}  - {{form.end | date:"short"}}


				.staff-form-right
					.section-pad(ng-show='vehiclePanelIsVisible')
						.close-btn-div
							button.btn-close(aria-label="close" ng-click="vehiclePanelShowHide()")
								i.fa.fa-times-circle
						.container-flex-form-panel
							.an-material.nopadding
								md-autocomplete.full-panel(md-no-cache='false',
								md-items="item in vehicleSearch(lbSearch.vehicle) | orderBy:'name'",
								md-selected-item='form.vehicle',
								md-search-text='lbSearch.vehicle',
								md-item-text='item.resource.name + " " + item.resource.plateNumber',
								md-min-length='0',fend
								md-floating-label="{{ 'operations.specialsTimeLog.vehicle' | translate }}")
									md-item-template
										p() {{item.resource.name}} #[br] {{ item.resource.plateNumber}}

						.fieldset-flex
							.an-material.nopadding
								md-input-container.full-panel
									label {{ 'operations.specialsTimeLog.odometerStart' | translate }}
									input(ng-model='form.odometerStart' type="number" id='odometerStart')

							.an-material.nopadding
								md-input-container.full-panel
									label {{ 'operations.specialsTimeLog.odometerEnd' | translate }}
									input(ng-model='form.odometerEnd' type="number" id='odometerEnd')

						.fieldset-flex
							.an-material.nopadding
								md-input-container.full-panel
									label {{ 'operations.specialsTimeLog.fuelStart' | translate }}
									md-select(ng-model='form.fuelStart')
										md-option(value="F") F
										md-option(value="7/8") 7/8
										md-option(value="3/4") 3/4
										md-option(value="5/8") 5/8
										md-option(value="4/8") 1/2
										md-option(value="3/8") 3/8
										md-option(value="2/8") 1/4
										md-option(value="1/8") 1/8

							.an-material.nopadding
								md-input-container.full-panel
									label {{ 'operations.specialsTimeLog.fuelEnd' | translate }}
									md-select(ng-model='form.fuelEnd')
										md-option(value="F") F
										md-option(value="7/8") 7/8
										md-option(value="3/4") 3/4
										md-option(value="5/8") 5/8
										md-option(value="4/8") 1/2
										md-option(value="3/8") 3/8
										md-option(value="2/8") 1/4
										md-option(value="1/8") 1/8

					textarea(name="special-ops-description"
					ng-model="form.location"
					markdown-editor="{'iconlibrary': 'fa', addExtraButtons: false, resize: 'vertical'}"
					on-fullscreen="onFullScreenCallback()"
					on-fullscreen-exit="onFullScreenExitCallback()"
					rows="25")

