|
p Hola #{ name },
p #{ email } te hemos agregado al App de Grupo Glarus
p Código de Autorización: #{ invitationCode }
| Ingresa a: &nbsp;
a(href="https://#{ hostname }/register/#{ invitationCode }") http://#{ hostname }/register/#{ invitationCode }
| &nbsp; para completar tu registro
p Saludos
br
| Grupo Glarus
br
| Consultoria en Riesgos
br
| Seguridad e Inteligencia
